<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="org.innobl.mapper.ReplyMapper">
  		<insert id="insert">
  			INSERT INTO TBL_REPLY (RNO,PRDCTNO,REPLY,REPLYER) VALUES (SEQ_REPLY.nextval,#{PRDCTNO},#{REPLY},#{REPLYER})
  		</insert>
  		
  		<select id="read" resultType="org.innobl.domain.vo.ReplyVO">
  			SELECT 
  				* 
  			FROM TBL_REPLY 
  			WHERE RNO = #{RNO} AND REPLLV = 0
  		</select>
  		
  		<delete id="delete">
  		 	DELETE FROM TBL_REPLY WHERE RNO = #{RNO}
  		</delete>
  		
  		<update id="update">
  			UPDATE TBL_REPLY SET REPLY = #{REPLY}, UPDATEDATE = SYSDATE WHERE RNO = #{RNO}
  		</update>
  		
  		<select id="getListWithPaging"
  			resultType="org.innobl.domain.vo.ReplyVO">
  			
  			SELECT 
  				RNO,
  				PRDCTNO,
  				REPLY,
  				REPLYER,
  				REPLYDATE,
  				UPDATEDATE
  			FROM 
  				TBL_REPLY
  			WHERE PRDCTNO=#{PRDCTNO}
  				AND REPLLV = 0
  			ORDER BY RNO ASC
  			
  		</select>
  		<select id="getLv1Repl" resultType="org.innobl.domain.vo.ReplyVO">
  			SELECT 
  				* 
  			FROM TBL_REPLY 
  			WHERE RNO = #{RNO} AND REPLLV = 1
  		</select>
  </mapper>
 